<!DOCTYPE html>
<html>
<head>
  <title>Test Models</title>
</head>
<body>
  <h1>User List</h1>
  <ul>
    {% for user in users %}
      <li>{{ user.username }}</li>
    {% endfor %}
  </ul>

  <h1>Theatre List</h1>
  <ul>
    {% for theatre in theatres %}
      <li>{{ theatre.name }} - {{ theatre.address }}</li>
    {% endfor %}
  </ul>

  <h1>Movie List</h1>
  <ul>
    {% for movie in movies %}
      <li>{{ movie.name }} - {{ movie.rating }}</li>
    {% endfor %}
  </ul>

  <h1>Shows for Theatre 1</h1>
  <ul>
    {% for show in shows %}
      <li>{{ show.start_time }} - {{ show.movie.name }}</li>
    {% endfor %}
  </ul>

  <h1>Bookings for User 1</h1>
  <ul>
    {% for booking in bookings %}
      <li>{{ booking.show.movie.name }} - {{ booking.show.theatre.name }}</li>
    {% endfor %}
  </ul>
</body>
</html>