<!DOCTYPE html>
<html lang="en" data-bs-theme="light" >
<head>
    <title>Streaming App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Include Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        .carousel-control-prev, .carousel-control-next {
            width: 5%;
        }
    
        .carousel-control-prev {
            margin-left: -5%;
        }
    
        .carousel-control-next {
            margin-right: -5%;
        }
        .carousel-control-prev-icon, .carousel-control-next-icon {
            background-color: rgb(30, 24, 24);
        }
    </style>
</head>
<body class>
    
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Streaming App</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/creator_account">Creator Account</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <form class="d-flex justify-content-end mt-2" action="{{ url_for('search') }}" method="get">
                <input class="form-control me-2" name="q" type="search" placeholder="Search songs" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Recommended Tracks</h2>
                    <div id="carouselRecommendedTracks" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            {% for i in range(0, recommended_songs|length, 3) %}
                            <div class="carousel-item {% if loop.first %}active{% endif %}">
                                <div class="row">
                                    {% for song in recommended_songs[i:i+3] %}
                                    <div class="col-4">
                                        <!-- Card -->
                                        <div class="card">
                                            <!-- Card image -->
                                            <img src="https://via.placeholder.com/350x150" class="card-img-top img-fluid" alt="{{ song.name }}" style="max-width: 450px; max-height: 100px;">
                                            <div class="card-body">
                                                <h5 class="card-title" style="width: 200px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">
                                                    {{ song.name }}
                                                </h5>
                                                <br>
                                                <a href="/songs/{{ song.song_id }}" class="btn btn-primary">Play</a>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselRecommendedTracks" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselRecommendedTracks" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Genres</h2>
                    <div id="carouselGenres" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            {% for i in range(0, genres|length, 3) %}
                            <div class="carousel-item {% if loop.first %}active{% endif %}">
                                <div class="row">
                                    {% for genre in genres[i:i+3] %}
                                    <div class="col-4">
                                        <!-- Card -->
                                        <div class="card">
                                            <!-- Card image -->
                                            <img src="https://via.placeholder.com/350x150" class="card-img-top img-fluid" alt="{{ genre }}" style="max-width: 450px; max-height: 100px;">
                                            <div class="card-body">
                                                <h5 class="card-title" style="width: 200px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">
                                                    {{ genre }}
                                                </h5>
                                                <br>
                                                <a href="{{ url_for('genre', genre_name=genre) }}" class="btn btn-primary">View Songs</a>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselGenres" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselGenres" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <!-- Playlists -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Playlists</h2>
                    <div id="carouselPlaylists" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            {% for i in range(0, playlists|length, 3) %}
                            <div class="carousel-item {% if loop.first %}active{% endif %}">
                                <div class="row">
                                    {% for playlist in playlists[i:i+3] %}
                                    <div class="col-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ playlist.name }}</h5>
                                                <a href="/playlists/{{ playlist.playlist_id }}" class="btn btn-primary">View</a>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <!-- Add carousel controls here -->
                    </div>
                </div>
            </div>
        </div>

        <!-- Albums -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Albums</h2>
                    <div id="carouselAlbums" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            {% for i in range(0, albums|length, 3) %}
                            <div class="carousel-item {% if loop.first %}active{% endif %}">
                                <div class="row">
                                    {% for album in albums[i:i+3] %}
                                    <div class="col-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ album.name }}</h5>
                                                <a href="/albums/{{ album.album_id }}" class="btn btn-primary">View</a>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <!-- Add carousel controls here -->
                    </div>
                </div>
            </div>
        </div>
</body>
</html>